<!DOCTYPE html> 
<html> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Where U R</title> 

	<link rel="stylesheet" href="css/jquery.mobile-1.0rc2.min.css" />
	<link rel="stylesheet" href="css/style.css" />

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry,places&amp;sensor=true"></script>
</head> 

<body> 


<!-- Homepage -->


<div data-role="page" id="home-page" data-fullscreen="true">

  <div data-role="header">
    <h1>"Find the hottest places to be"</h1>
  </div>
 
  <div data-role="content">
    <img src="img/logo.jpg" class="logo" alt="" />
    <p><a href="#rating-page" data-role="button">Build A Fire</a></p>
    <p><a href="#hotspots-list-page" data-role="button">Feel The Burn</a></p>
  </div>

</div>


<!-- Submit Heat Form -->


<div data-role="page" id="rating-page" data-fullscreen="true">

	<div data-role="header">
    <a href="#home-page" data-icon="arrow-l" data-rel="back">Back</a>
		<h1>Start A Fire</h1>
	</div>

	<div data-role="content">
    <form action="index.php" method="post" class="rating-form ui-body ui-body-a ui-corner-all">
      <fieldset class="center">
        <label for="places-menu" class="select">Choose Your Location:</label>
        <select name="location" id="places-menu"></select>
        <label for="rating">How hot is it?</label>
        <input class="rate" type="range" name="rating" id="rating" value="1" min="1" max="5"  />
        <h1 id="hotness-scale" style="text-align: center">Mild</h1>
        <button id="submit-hotspot-button" type="submit" data-theme="b">Burn Baby Burn!</button>
      </fieldset>
    </form>
	</div>

</div>


<!-- Hotspot List -->


<div data-role="page" id="hotspots-list-page" data-fullscreen="true">

	<div data-role="header">
    <a href="#home-page" data-icon="arrow-l" data-rel="back">Back</a>
		<h1>Feel The Burn</h1>
	</div>

	<div data-role="content">
	<div class="list-heading">
	   <span class="location">Location</span>
	   <span class="distance"><a>Distance</a></span>
	   <span class="rating"><a>Rating</a></span>
	</div>
    <ul id="hotspots-list" data-role="listview"></ul>
	
	
	</div>
	<div data-role="footer" style="width: 100%">
		<div data-role="navbar" style="width: 100%">
			<ul style="width: 100%">
				<li id="refresh-list-button"><a>Refresh</a></li>
				<li><a href="#map">Map</a></li>
				<li><a href="#option" data-rel="dialog">Radius</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>
</div>

<!-- List Option Dialog Page -->

<div data-role="page" id="option" data-fullscreen="true">

  <div data-role="header">
    <h1>Search Options</h1>
  </div>
 
  <div data-role="content" class="ui-body-a">
		<form class="ui-body">
		<fieldset class="center">
			<label for="radius">Select Search Radius</label>
			<input type="range" name="radius" id="radius" value="5" min="1" max="5"  />
			<a href="#hotspots-list-page" data-rel="back" data-role="button" id="refresh-list-with-option-button" data-theme="b">Search</a>
		</fieldset>
		</form>
  </div>

</div>

<!-- Maps Page -->

<div data-role="page" id="map" data-fullscreen="true">

  <div data-role="header">
  <a href="#home-page" data-icon="arrow-l" data-rel="back">Back</a>
    <h1>Map</h1>
  </div>
 
  <div data-role="content" style="padding: 0px; margin: 0px;">
	<div id="map_canvas" style="width:100%;"></div>
  </div>
  
  	<div data-role="footer" style="width: 100%">
		<div data-role="navbar" style="width: 100%">
			<ul style="width: 100%">
				<li id="refresh-list-button"><a>Refresh</a></li>
				<li><a href="#hotspots-list-page">List</a></li>
				<li><a href="#option" data-rel="dialog">Radius</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>

</div>

<!-- Details Page -->

<div data-role="page" id="detail" data-fullscreen="true">

  <div data-role="header">
  <a href="#hotspots-list-page" data-icon="arrow-l" data-rel="back">Back</a>
    <h1>Destination Details</h1>
  </div>
 
  <div data-role="content" class="detail">
	<h1>Fuze</h1>
	<p>Rating: 4.30</p>
	<p>Distance: 0.28 Miles</p>
	<p>Number of people rated: -</p>
	<p style="padding-top: 30px;"><a href="#" data-role="button">See Map</a></p>
	
  </div>
  
  	<div data-role="footer" style="width: 100%">
		<div data-role="navbar" style="width: 100%">
			<ul style="width: 100%">
				<li id="refresh-list-button"><a>Refresh</a></li>
				<li><a href="#hotspots-list-page">List</a></li>
				<li><a href="#option" data-rel="dialog">Radius</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>

</div>

<!-- JavaScript Templates -->


<script type="text/x-jqote-template" id="hotspot-list-item">
  <![CDATA[
    <li class="hotspot ui-li-static ui-body-c">
	<a href="#detail-<%= j %>">
      <%= this.name %>
	  </a>
      <span class="distance ui-li-count">
        <%= (this.distance * 0.000621371192).toFixed(1) %> mi
      </span>
      <span class="rating ui-li-count">
        <% out += (this.rating === null) ? 'None' : parseFloat(this.rating).toFixed(1); %>
      </span>      
    </li>
  ]]>
</script>


<script type="text/x-jqote-template" id="places-menu-option">
  <![CDATA[
    <option value="<%= this.id %>"><%= this.name %></option>  
  ]]>
</script>


<script src="js/jquery-1.6.4.min.js"></script>
<script src="js/jquery.jqote2.min.js"></script>
<script src="js/search-google-places.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.mobile-1.0rc2.min.js"></script>
<script src="js/jquery.ui.map.full.min.js" type="text/javascript"></script>


</body>
</html>
