<!DOCTYPE html> 
<html> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Where U R</title> 

	<link rel="stylesheet" href="css/jquery.mobile.structure-1.0.min.css" />
	<link rel="stylesheet" href="css/themes/whereur-111711.css" />
	<link rel="stylesheet" href="css/style.css" />

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry,places&amp;sensor=true"></script>
</head> 

<body> 


<!-- Homepage -->


<div data-role="page" id="home">
 
  <div data-role="content" data-theme="a">
    <img src="img/logo.png" class="logo" alt="" />
	<p class="mainbanner">Find the hottest places to be in real time!</p>
  <p id="rating-page-button" class="main-button">
    <a href="#rating" data-role="button" data-theme="a">Build A Fire</a>
    <span class="helpertext">Rate your current place</span>
  </p>
  <p id="list-page-button" class="main-button">
    <a href="#hotspots" data-role="button" data-theme="b">Feel The Burn</a>
    <span class="helpertext">See which places are hot</span>
  </p>
  </div>

</div>


<!-- Submit Heat Form -->


<div data-role="page" id="rating">

	<div data-role="header" data-theme="c">
    <a href="#home" data-icon="arrow-l">Back</a>
		<h1>Start A Fire</h1>
	</div>

	<div data-role="content" data-theme="f">
    <form action="index.php" method="post" class="rating-form ui-body ui-body-a ui-corner-all" data-theme="f">
      <fieldset class="center">
        <label for="places-menu" class="select">Choose Your Location:</label>
        <select name="location" id="places-menu"></select>
        <label for="rating-slider">How hot is it?</label>
        <input class="rate" type="range" name="rating" id="rating-slider" value="1" min="1" max="5"  />
        <h1 id="hotness-scale" style="text-align: center" class="hotness-1"></h1>
        <button id="submit-hotspot-button" type="submit" data-theme="b">Burn Baby Burn!</button>
      </fieldset>
    </form>
	</div>

</div>


<!-- Hotspot List -->


<div data-role="page" id="hotspots">

	<div data-role="header" data-theme="e">
    <a href="#home" data-icon="arrow-l" data-rel="back">Back</a>
		<h1>Feel The Burn</h1>
	</div>

	<div data-role="content" data-theme="e">
    <h2>What's Hot Near You</h2>
    <div class="list-heading">
      <div class="sort-buttons" data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal" >
          <legend>Sort by:</legend>
          <label for="sort-distance">Distance</label>
          <input type="radio" name="sort-order" id="sort-distance" value="distance" />
          <label for="sort-rating">Rating</label>
          <input type="radio" name="sort-order" id="sort-rating" value="rating" />
        </fieldset>
      </div>
    </div>
    <ul id="hotspots-list" data-role="listview" data-inset="true" data-theme="d"></ul>
	</div>

	<div data-role="footer" data-position="fixed" class="nav-icons">
		<div data-role="navbar">
			<ul>
				<li id="refresh-list-button" data-theme="e"><a class="refresh" href="#" data-icon="custom">Refresh</a></li>
				<li><a class="map" href="#map" data-theme="f" data-icon="custom">Map</a></li>
				<li><a class="options" href="#option" data-rel="dialog" data-theme="d" data-icon="custom">Options</a></li>
			</ul>
		</div>
	</div>
</div>


<!-- List Option Dialog Page -->


<div data-role="page" id="option">

  <div data-role="header" data-theme="e">
    <h1>Search Options</h1>
  </div>
 
  <div data-role="content" class="ui-body-a">
		<form class="ui-body">
		<fieldset class="center">
			<label for="radius">Select Search Radius (In Miles)</label>
			<input type="range" name="radius" id="radius" value="5" min="1" max="5"  />
			<a href="#hotspots" data-rel="back" data-role="button" id="refresh-list-with-option-button">Search</a>
		</fieldset>
		</form>
  </div>

</div>


<!-- Maps Page -->


<div data-role="page" id="map">

  <div data-role="header" data-theme="e">
    <a href="#" data-icon="arrow-l" data-rel="back">Back</a>
    <h1>Map</h1>
  </div>
 
  <div data-role="content">
    <div id="map-canvas"></div>
  </div>
  
	<div data-role="footer" data-position="fixed" class="nav-icons">
		<div data-role="navbar">
			<ul>
				<li id="refresh-list-button" data-theme="e"><a class="refresh" href="#" data-icon="custom">Refresh</a></li>
				<li><a class="list" href="#hotspots" data-theme="f" data-icon="custom">List</a></li>
				<li><a class="options" href="#option" data-rel="dialog" data-theme="d" data-icon="custom">Options</a></li>
			</ul>
		</div>
	</div>

</div>

<!-- Details Page -->


<div data-role="page" id="detail">

  <div data-role="header" data-theme="g">
    <a href="#hotspots-list-page" data-icon="arrow-l" data-rel="back">Back</a>
    <h1>Destination Details</h1>
  </div>

  <div data-role="content" data-theme="f">
  </div>

  <div data-role="footer" data-position="fixed" class="nav-icons">
    <div data-role="navbar">
      <ul>
				<li id="refresh-list-button" data-theme="e"><a class="refresh" href="#" data-icon="custom">Refresh</a></li>
				<li><a class="list" href="#hotspots" data-theme="f" data-icon="custom">List</a></li>
				<li><a class="options" href="#option" data-rel="dialog" data-theme="d" data-icon="custom">Options</a></li>
      </ul>
    </div>
  </div>

</div>


<!-- JavaScript Templates -->


<script type="text/x-jqote-template" id="hotspot-list-item">
  <![CDATA[
    <li class="hotspot">
      <a href="#detail?p=<%= this.index %>">
        <%= this.name %>
        <span class="distance ui-li-count">
          <%= (this.distance * 0.000621371192).toFixed(1) %> mi
        </span>
        <span class="rating ui-li-count">
          <%= (this.rating === null) ? 'None' : parseFloat(this.rating).toFixed(1) %>
        </span>
      </a>
    </li>
  ]]>
</script>


<script type="text/x-jqote-template" id="places-menu-option">
  <![CDATA[
    <option value="<%= this.id %>"><%= this.name %></option>  
  ]]>
</script>


<script type="text/x-jqote-template" id="detail-page-content">
  <![CDATA[
    <h2 class="name"><%= this.name %></h2>
    <p class="rating">
      <span class="label">Rating:</span>
      <span class="value"><%= (this.rating == null) ? '0' : parseFloat(this.rating).toFixed(1) %> out of 5.0</span>
    </p>
    <p class="distance">
      <span class="label">Distance:</span>
      <span class="value"><%= (this.distance * 0.000621371192).toFixed(1) %> mi</span>
    </p>
    <p class="votes">
      <span class="label">Number of reviews within the last hour:</span>
      <span class="value"><%= (this.rating_count === undefined) ? 'None' : this.rating_count %></span>
    </p>
    <p style="padding-top: 30px;">
      <a href="#map?p=<%= this.index %>" data-role="button">See Map</a>
    </p>
  ]]>
</script>


<script src="js/jquery-1.6.4.min.js"></script>
<script src="js/jquery.jqote2.min.js"></script>
<script src="js/search-google-places.js"></script>
<script src="js/get-current-position.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.mobile-1.0.min.js"></script>


</body>
</html>
