<!DOCTYPE html> 
<html> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Where U R</title> 

	<link rel="stylesheet" href="css/jquery.mobile-1.0rc2.min.css" />
	<link rel="stylesheet" href="css/style.css" />
</head> 

<body> 


<!-- Homepage -->


<div data-role="page" id="home-page" data-fullscreen="true">

  <div data-role="header">
    <h1>"Find the hottest places to be"</h1>
  </div>
 
  <div data-role="content">
    <img src="img/logo.jpg" class="logo" alt="" />
    <p><a href="#rating-page" data-role="button">Build A Fire</a></p>
    <p><a href="#hotspots-list-page" data-role="button">Feel The Burn</a></p>
  </div>

</div>


<!-- Submit Heat Form -->


<div data-role="page" id="rating-page" data-fullscreen="true">

	<div data-role="header">
    <a href="#home-page" data-icon="arrow-l" data-rel="back">Back</a>
		<h1>Start A Fire</h1>
	</div>

	<div data-role="content">
    <form action="index.php" method="post" class="rating-form ui-body ui-body-a ui-corner-all">
      <fieldset class="center">
          <label for="places-menu" class="select">Choose Your Location:</label>
          <select name="location" id="places-menu"></select>
        <p>Your current GPS coordinates:<br><span class="your-location"></span></p>
        <div>
          <label for="rating" class="ui-hidden-accessible">How hot is it?</label>
          <input type="range" name="rating" id="rating" value="1" min="1" max="5"  />
        </div>
        <h1 id="hotness-scale" style="text-align: center">Mild</h1>
        <button id="submit-hotspot-button" type="submit" data-theme="b">Burn Baby Burn!</button>
      </fieldset>
    </form>
	</div>

</div>


<!-- Hotspot List -->


<div data-role="page" id="hotspots-list-page" data-fullscreen="true">

	<div data-role="header">
    <a href="#home-page" data-icon="arrow-l" data-rel="back">Back</a>
		<h1>Feel The Burn</h1>
	</div>

	<div data-role="content">
    <ul id="hotspots-list" data-role="listview"></ul>
    <div style="margin-top: 30px">
      <button id="refresh-list-button">Refresh</button>
      <button id="clear-ratings-button">Clear</button>
    </div>
	</div>
</div>


<!-- JavaScript Templates -->


<script type="text/x-jqote-template" id="hotspot-list-item">
  <![CDATA[
    <li class="hotspot ui-li-static ui-body-c">
      <%= this.place_uuid %>
      <% if (typeof this.distance !== 'undefined') { %>
        <span class="distance ui-li-count">
          Distance: <%= parseFloat(this.distance).toFixed(1) %> miles
        </span>
      <% } %>
      <span class="rating ui-li-count">
        <% out += (this.rating === null) ? 'No rating' : 'Rating: ' + parseFloat(this.rating); %>
      </span>
    </li>
  ]]>
</script>


<script type="text/x-jqote-template" id="places-menu-option">
  <![CDATA[
    <option value="<%= this.place_uuid %>"><%= this.place_uuid %></option>  
  ]]>
</script>


<script src="js/jquery-1.6.4.min.js"></script>
<script src="js/jquery.jqote2.min.js"></script>
<script src="js/lat-lon.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.mobile-1.0rc2.min.js"></script>


</body>
</html>
