
.ui-page {
  background: #FFF;
}

.ui-header .ui-title {
  margin-left: 0;
  margin-right: 0;
}

.rate.ui-slider-input {
  display:none;
}

.rating-form input.ui-slider {
  width: 80%;
}

.logo {
	margin: auto; 
	display: block;
	padding-top: 80px;
	padding-bottom: 80px;
}

.set {
	text-align: center; 
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.center {
  text-align: center;
}

.list-heading {
  margin: 0 0 20px;
}

.list-heading .distance {
  position: absolute;
  right: 150px;
}

.list-heading .rating {
  position: absolute;
  right: 90px;
}

.hotspot .distance {
  right: 74px;
  text-align: right;
  width: 45px;
}

.hotspot .rating {
  text-align: center;
  width: 40px;
}

#map_canvas {
	height: min-height: 100%;
	padding: 0px;
	margin: 0px;
}
