.ui-page {
  background: #eff0e0;
}

.ui-header .ui-title {
  margin-left: 0;
  margin-right: 0;
}


.rating-form input.ui-slider {
  width: 80%;
}



.set {
	text-align: center; 
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.center {
  text-align: center;
}

.list-heading {
  margin: -.5em 0;
  overflow: auto;
}

@media all and (min-width: 560px) {
  .list-heading {
    margin-top: -3.5em;
  }
}

.sort-buttons {
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
}

.sort-buttons fieldset {
  margin: 0;
}

.sort-buttons .ui-controlgroup-label {
    display: inline-block;
    margin: 0 2% 0 0;
    padding-top: 0.6em;
    vertical-align: top;
    width: auto;  
}

.sort-buttons .ui-controlgroup-controls {
  display: inline-block;
  width: auto;
}

/* Homepage */

.logo {
	margin: auto;
	display: block;
	padding-top: 10%;
	padding-bottom: 10%;
	width: 150px;
}

.mainbanner {
	font: italic 20px sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

.helpertext {
	display: inline-block;
	font: italic 14px sans-serif;
	margin-top: 1em;
}

.main-button {
	text-align: center;
	width: 50%;
}

#rating-page-button {
	float: left;
}

#list-page-button {
	float: right;
}

.ui-btn-inner {  /* make multi-line buttons */
	white-space: normal !important; 
}


/* Hotness Scale */

#hotness-scale{
	width: 200px;
	height: 40px;
	margin: 20px auto;
}

.hotness-1{
	background: url('../img/pepper-sprite-small.png') no-repeat 0 0;
}

.hotness-2{
	background: url('../img/pepper-sprite-small.png') no-repeat 0 -40px;
}
	
.hotness-3{
	background: url('../img/pepper-sprite-small.png') no-repeat 0 -80px;
}
	
.hotness-4{
	background: url('../img/pepper-sprite-small.png') no-repeat 0 -120px;
}

.hotness-5{
	background: url('../img/pepper-sprite-small.png') no-repeat 0 -160px;
}


/* List page */

.hotspot.ui-li-has-count .ui-btn-inner a.ui-link-inherit {
  padding-right: 150px;
}

.hotspot .distance,
.hotspot .rating {
  text-align: center;
  width: 40px;
}

#detail div .rating .value {
  font-weight: bold;
  font-size: 1.5em;
}

.hotspot .distance {
  right: 100px;
}

	
/* Map Page */

#map .ui-content {
  padding: 0;
}

#map-canvas {
	height: 400px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

/* Navbar Icons */

.nav-icons .ui-btn .ui-btn-inner {
	padding-top: 40px !important
}
.nav-icons .ui-btn .ui-icon {
	width: 30px !important;
	margin-left: -15px !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
.nav-icons [class*=ui-btn-hover] .ui-icon {
  background-position: top center;
  opacity: .8;
}
.refresh .ui-icon {
	background: url(../img/refresh.png) bottom center no-repeat;
	height: 26px !important;
  margin-top: 2px;
}
.map .ui-icon {
	background: url(../img/map.png) bottom center no-repeat;
	height: 21px !important;
  margin-top: 4px;
}
.list .ui-icon {
	background: url(../img/notepad.png) bottom center no-repeat;
	height: 28px !important;
  margin-top: 1px;
}
.options .ui-icon {
	background: url(../img/gear.png) bottom center no-repeat;
	height: 26px !important;
  margin-top: 2px;
}
